{% extends "common.html" %}
{% load search_tags %}

{% block title %}Table Booking{% endblock %}

{% block content %}
    <section class="mt-4">
        <div class="row col-md-12">{% render_search_bar %}</div>
    </section>
 
    <section class="mt-4">
        <h4>추천 식당</h4>
        <div class="row">
            {% for item in recommendations %}
                <div class="col-sm-3 mb-2 mt-2">
                    <div class="card">
                        <div class="card-header">{{ item.restaurant.category.name }}</div>
                        <img src="{{ item.restaurant.main_image.image }}"
                             alt="image"
                             class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'restaurant-view' item.restaurant.id %}">
                                <h5 class="card-title item-name">{{ item.restaurant.name }}</h5>
                            </a>
                            <p class="card-text">{{ item.restaurant.address }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="mt-4">
        <h4>최근 등록 식당</h4>
        <div class="row">
            {% for restaurant in latest %}
                <div class="col-sm-3 mb-2 mt-2">
                    <div class="card">
                        <div class="card-header">{{ restaurant.category.name }}</div>
                        <img src="{{ restaurant.main_image.image }}"
                             alt="image"
                             class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'restaurant-view' restaurant.id %}">
                                <h5 class="card-title item-name">{{ restaurant.name }}</h5>
                            </a>
                            <p class="card-text">{{ restaurant.address }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="mt-4">
        <h4>인기 식당</h4>
        <div class="row">
            {% for restaurant in hottest %}
                <div class="col-sm-3 mb-2 mt-2">
                    <div class="card">
                        <div class="card-header">{{ restaurant.category.name }}</div>
                        <img src="{{ restaurant.main_image.image }}"
                             alt="image"
                             class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'restaurant-view' restaurant.id %}">
                                <h5 class="card-title item-name">{{ restaurant.name }}</h5>
                            </a>
                            <p class="card-text">{{ restaurant.address }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
