{% extends "common.html" %}
{% load crispy_forms_filters %}

{% block title %}프로필{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">내 정보 수정</button>

        {% if not is_social_login %}
            <a href="{% url 'password' %}">
                <button class="btn btn-dark" type="button">비밀번호 수정</button>
            </a>
        {% endif %}
    </form>
{% endblock %}
