{% extends "common.html" %}
{% load static %}
{% load humanize %}

{% block title %}예약하기{% endblock %}


{% block content %}
    <section class="mt-4">
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="booker-name">예약자명</label>
                <input type="text"
                       class="form-control"
                       name="booker_name"
                       id="booker-name"
                       placeholder=""
                       value="">
            </div>
            <div class="form-group">
                <label for="booker-phone">예약자 연락</label>
                <input type="text"
                       class="form-control"
                       name="booker_phone"
                       id="booker-phone"
                       placeholder=""
                       value="">
            </div>
            <div class="form-group">
                <label for="booker-comment">전달사항</label>
                <input type="text"
                       class="form-control"
                       name="booker_comment"
                       id="booker-comment"
                       placeholder=""
                       value="">
            </div>
            <input type="hidden" name="order_number" value="{{ booking.order_number }}">
            <input type="hidden" name="price" value="{{ booking.price }}">
            <button type="button" onclick="submitAndPay();">예약</button>
        </form>
    </section>

    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script>
        function submitAndPay() {
            let form = document.querySelector("form");
            let data = new FormData(form);  // 데이터에 serialization 해서 담깁니다.
            let httpRequest = new XMLHttpRequest();
            httpRequest.addEventListener("load", e => {
                if (httpRequest.status === 200) {
                    // 결제 시작
                    let clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
                    let tossPayments = TossPayments(clientKey) // 클라이언트 키로 초기화하기
                    
                    tossPayments.requestPayment('카드', { // 결제 수단 파라미터
                      // 결제 정보 파라미터
                      amount: form.price.value,
                      orderId: form.order_number.value,
                      orderName: "예약 보증금 결제",
                      customerName: form.booker_name.value,
                      successUrl: 'http://127.0.0.1:8000{% url 'payment' 'success' %}',
                      failUrl: 'http://127.0.0.1:8000{% url 'payment' 'failed' %}',
                    })
                }
            });

            httpRequest.open("POST", form.action);
            httpRequest.send(data);
        }
    </script>
{% endblock %}
