{% extends "common.html" %}
{% load static %}
{% load humanize %}

{% block title %}예약하기{% endblock %}


{% block content %}
    <section class="mt-4">
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="booker-name">예약자명</label>
                <input type="text"
                       class="form-control"
                       name="booker_name"
                       id="booker-name"
                       placeholder=""
                       value="">
            </div>
            <div class="form-group">
                <label for="booker-phone">예약자 연락</label>
                <input type="text"
                       class="form-control"
                       name="booker_phone"
                       id="booker-phone"
                       placeholder=""
                       value="">
            </div>
            <div class="form-group">
                <label for="booker-comment">전달사항</label>
                <input type="text"
                       class="form-control"
                       name="booker_comment"
                       id="booker-comment"
                       placeholder=""
                       value="">
            </div>
            <input type="hidden" name="order_number" value="{{ booking.order_number }}">
            <input type="hidden" name="price" value="{{ booking.price }}">
            <button type="button" onclick="submitAndPay();">예약</button>
        </form>
    </section>
    <script>
        function submitAndPay() {
            let form = document.querySelector("form");
            let data = new FormData(form);  // 데이터에 serialization 해서 담깁니다.
            let httpRequest = new XMLHttpRequest();
            httpRequest.addEventListener("load", e => {
                if (httpRequest.status === 200) {
                    // 결제 시작
                }
            });

            httpRequest.open("POST", form.action);
            httpRequest.send(data);
        }
    </script>
{% endblock %}
