{% extends "office/common.html" %}
{% load pagination_tags %}
{% load booking_tags %}
{% load humanize %}

{% block content %}
    <div class="row g-4 mt-2">
        <div class="col-12 list-group">
            <div class="mt-2 mb-2">
                <a href="{% url 'office-restaurant-create' %}">
                    <button class="btn btn-success">추가하기</button>
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">이미지</th>
                        <th scope="col">분류</th>
                        <th scope="col">이름</th>
                        <th scope="col">주소</th>
                        <th scope="col">비고</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>
                                {% if item.main_image %}
                                    {% if item.main_image.image.name|slice:":4" == 'http' %}
                                        <img style="width:100px"
                                             src="{{ item.main_image.image }}"
                                             class="img-thumbnail">
                                    {% else %}
                                        <img style="width:100px"
                                             src="{{ item.main_image.image.url }}"
                                             class="img-thumbnail">
                                    {% endif %}
                                {% else %}
                                {% endif %}
                            </td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.address }}</td>
                            <td>
                                <a href="{% url 'office-restaurant-update' item.id %}">
                                    <button class="btn btn-link">수정</button>
                                </a>
                                <a href="{% url 'office-restaurant-delete' item.id %}">
                                    <button class="btn btn-link">삭제</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="row mt-4">
        <nav class="col-12">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                {% endif %}

                {% for page in page_obj|slice_visible_pages %}
                    {% if page_obj.number == page %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
